---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { generateURL } from "../utils";
import BackgroundEffect from '../components/BackgroundEffect.astro'

const posts = (await getCollection("blog", post => !post.data.hide)).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <div class="prose">
    <p><b>
      {SITE_DESCRIPTION}
    </b></p>
    <p>
    I'm Mohammed Eshan, But the the internet calls me ZeroQL. And this is my home on the internet.
    I make websites, and i write blogs. Feel free to take a look.
    </p>
	<h2> Recent Posts </h2>
     <ul class="blog-posts">
    {
      posts.map(post => (
        <li>
          <span>
            <i>
              <FormattedDate date={post.data.pubDate} />
            </i>
          </span>
          <a
            href={generateURL(`/blog/${post.id}/`)}
            transition:name={`post-title-${post.id}`}
          >
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
  <BackgroundEffect />
  </div>
</Layout>
